<h2>My Heroes</h2>
<ul class="heroes">
    <div>
        <label for="new-hero">Hero name: </label>
        <input id="new-hero" #heroName />
        
        <!-- (click) passes input value to add() and then clears the input -->
        <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
            Add hero
        </button>
    </div>

    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button type="button" class="delete" title="delete hero"
            (click)="delete(hero)">x</button>


        <!--<button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero" >
                <span class="badge">{{hero.id}}</span>
                <span class="name">{{hero.name}}</span>
            </button>
        -->
    </li>
</ul>

<!-- 
    This binds the 'selectedHero' property of this class, to
    the 'hero' property of the class referenced by 
    <app-hero-detail>, which is hero-detail.component.ts.
-->
<!-- 
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
-->
